name: Docker CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/cicd-demo:latest .

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/cicd-demo:latest

      - name: Deploy on EC2 using SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSHKEY }}
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/cicd-demo:latest
            sudo docker stop myapp || true
            sudo docker rm myapp || true
            sudo docker run -d -p 80:80 --name myapp ${{ secrets.DOCKER_USERNAME }}/cicd-demo:latest
